.backoffice {
    background-color: #9381833e;
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 20px;
    .form {
        width: 30%;
        height: 75vh;
        background-color: white;
        margin-left: auto;
        transform: translateY(15%);
        border-bottom: 7px solid rgb(67, 136, 232);
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.17);

        .title {
            padding: 20px;
            color: rgb(255, 255, 255);
            font-size: large;
            background-color: rgb(188, 188, 188);
        }
        .areas {
            padding: 10%;
            // display: flex;
            input,
            textarea,
            button {
                outline: none;
                border-radius: 5px;
                padding: 10px;
                margin-top: 10px;
                width: 100%;
                box-shadow: 0 2px 5px rgb(216, 216, 216);
            }
            input:focus,
            textarea:focus {
                border: rgb(0, 152, 228) solid 2px;
            }
            button {
                background-color: rgb(0, 152, 228);
                color: white;
                font-weight: bold;
                transition: 0.25s;
                border: 1px white solid;
            }
            button:hover {
                background-color: white;
                color: rgb(0, 152, 228);
                border: 1px rgb(0, 152, 228) solid;
            }
            button:disabled {
                background-color: rgb(142, 142, 142);
                color: rgb(86, 86, 86);
                border: 1px rgb(117, 117, 117) solid;
            }
        }
    }

    .list_review {
        width: 30%;
        height: 75vh;
        background-color: white;
        margin-right: auto;
        transform: translateY(15%);
        // padding: 20px;
        border-bottom: 7px solid rgb(67, 136, 232);
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.17);
        .title {
            padding: 20px;
            color: rgb(255, 255, 255);
            font-size: large;
            background-color: rgb(188, 188, 188);
        }
        .body {
            padding: 5%;
            height: 85%;
            overflow-y: scroll;
            .item {
                padding: 5px;
                margin: 10px;
                overflow: hidden;
                border: 1px solid rgb(0, 170, 255);
                display: grid;
                grid-template-columns: 60% auto;
                transition: 0.25s;
                cursor: pointer;
                .t {
                    padding: 10px;
                }
                .image_extract {
                    display: flex;
                    margin: auto auto;
                    .image_container {
                        background-color: grey;
                        overflow: hidden;
                        border: 1px rgb(0, 170, 255) solid;
                        border-radius: 100%;
                        height: 40px;
                        width: 40px;
                        margin-left: -20px;
                    }
                }
            }
            .item:hover,
            .active {
                background-color: rgb(0, 152, 228);
                color: white;
                box-shadow: 0 5px 5px rgba(128, 128, 128, 0.523);
            }
        }
    }
    .flash_message {
        position: absolute;
        top: 0;
        padding: 10px;
        background-color: rgb(0, 152, 228);
        color: white;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .error {
        background-color: rgb(255, 106, 57);
    }
}

@media only screen and (max-width: 800px) {
    .backoffice {
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #9381833e;
        background-size: cover;
        display: grid;
        width: 100vw;
        padding-bottom: 200px;
        .form, .list_review{
            width: 70%;
            height: 75vh;
            background-color: white;
            margin: auto;
        }
    }
}
