::-webkit-scrollbar {
  width: 7px;
  box-shadow: 0px 0px 10px white;
  border: white solid 2px;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 106, 107);
  border-radius: 6px;
  box-shadow: 0px 0px 10px white;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 0px 10px white;
}

/* Firefox */
::-moz-scrollbar {
  width: 7px;
}

::-moz-scrollbar-thumb {
  background-color: rgb(120, 106, 107);
  border-radius: 6px;
}

::-moz-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
}

.presentation {
  color: white;
  background: url("../../background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.presentation .left .title {
  text-align: justify;
  margin: 15% auto auto 15%;
}
.presentation .left .title .label {
  font-size: 60px;
  margin-bottom: 30px;
}
.presentation .left .title .legend_title {
  display: grid;
  grid-template-columns: 15% auto;
  width: 100%;
}
.presentation .left .title .legend_title .year {
  color: rgba(255, 255, 255, 0.584);
}
.presentation .left .title .legend_title .little_description .little_label {
  font-size: 20px;
}
.presentation .left .illustration {
  margin: 5% 0px auto 15%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(53, 33, 33, 0.159);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: pointer;
}
.presentation .left .illustration .image_illustration {
  width: 70%;
}
.presentation .left .illustration .description {
  width: 100%;
  padding: 10% auto 10% 5px;
}
.presentation .left .illustration .description .title_description {
  font-size: 17px;
}
.presentation .left .illustration .description .content .year {
  color: rgba(255, 255, 255, 0.584);
}
.presentation .left .detail {
  margin: 10%;
  width: 70%;
  height: 80vh;
  overflow-y: scroll;
}
.presentation .left .detail .title_detail {
  font-size: 40px;
  position: sticky;
  top: 0;
  background-color: rgba(120, 106, 107, 0.323);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.presentation .left .detail .content_detail {
  margin-top: 10%;
  padding-right: 20px;
  font-size: 10px;
  text-align: justify;
}
.presentation .left .detail .author_detail {
  margin-top: 5%;
  font-size: 14px;
  text-align: justify;
}
.presentation .right .control {
  position: absolute;
  left: 40%;
  top: 0;
  transform: scale(0.5);
  cursor: pointer;
}
.presentation .right .control .but {
  border: solid black 3px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.675);
  transition: 0.25s;
}
.presentation .right .control .but:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
}
.presentation .right .carousel {
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 200px;
  transition: 1s;
}
.presentation .right .carousel .legend {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 50px;
  width: 100%;
  z-index: 1;
  font-size: 35px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(60, 49, 49, 0.644), rgb(53, 33, 33));
  font-family: Baskerville;
  letter-spacing: 3px;
}
.presentation .right .carousel .carousel_slide {
  border: 2px solid white;
  border-radius: 10px;
  height: 80vh;
  width: 30vw;
  overflow: hidden;
  margin: 10%;
  display: flex;
  background: rgba(0, 0, 0, 0.203);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
  cursor: pointer;
}
.presentation .right .carousel .carousel_slide .slide {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  transition: 0.5s;
}
.presentation .right .carousel .carousel_slide:hover .slide {
  transform: scale(1.5);
}
.presentation .right .carousel_pagination {
  position: absolute;
  bottom: 5%;
  right: 50%;
  width: 100px;
  background-color: rgba(224, 224, 224, 0.093);
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.601);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media only screen and (max-width: 1200px) {
  .presentation {
    color: white;
    background: url("../../background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: hidden;
    content: "something went wrong";
  }
}/*# sourceMappingURL=presentation.css.map */